@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: var(--font-source-sans-3), 'Helvetica', Arial, sans-serif;
    }

    nav {
        font-family: var(--font-source-sans-3), 'Helvetica', Arial, sans-serif;
    }
}

.info-title {
    @apply text-center text-xl text-text-color font-bold pb-7 pt-5;
}

.newline {
    white-space: pre-line;
}