@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
    body {
        font-family: var(--font-source-sans-3), 'Helvetica', Arial, sans-serif;
    }

    nav {
        font-family: var(--font-source-sans-3), 'Helvetica', Arial, sans-serif;
    }
}
